*.swp
*.DS_Store
*.html
test/*.png
__pycache__
*.aux
*.bbl
*.log
*.run.xml
*.toc
*.bcf
*.blg
*.pyc
polebalancing/*
q_cart_pole.png
test/actor_critic/*
test/*.gif
test/q_learning/*
test/sarsa/*
report/*.pdf
